.board-container{
    margin: 100px;
}
.historyIcon{
    width: 25px;
}
.history-button{
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  border: 1px;
  right: 100px;
  position: fixed;
}
