<div class="board-container">
    <div class="board-header">
        <h2>Board</h2>
    </div>
    <button class="history-button" (click)="showSidebar = !showSidebar"><img src="assets/images/History.png" class="historyIcon">History</button>
    <app-sidebar *ngIf="showSidebar" (close)="showSidebar = false"></app-sidebar>
    <div *ngFor="let list of board.list" > 
        <app-list [list]="list"></app-list>
    </div> 
    <div *ngIf="board.list.length < 4">
        <app-add-list></app-add-list>
    </div>
</div>