<div class="card-container">
    <div class="card-header">
        <h2>{{card.title}}</h2> 
        <div class="dropdown">
        <img src="assets/images/MoreVert.png" class="moreVertIcon">
        <div class="dropdown-content" >
            <button><img src="assets/images/Edit.png" class="editIcon">Edit</button>
            <button (click)="deleteCard()"><img src="assets/images/Delete.png" class="deleteIcon">Delete</button>
        </div>
    </div>
    </div>
    <p>{{card.description}}</p>
    <p><img src="assets/images/Calendar.png" class="calendarIcon">{{card.dueDate | date : 'EEE, dd MMM'}}</p>
    <p><img src="assets/images/Dot.png" class="dotIcon"> {{card.priority}}</p>


      <label>
        Move To
        <select >
          <option value="" disabled selected></option>
          <option *ngFor="let item of list">{{ item.title }}</option>
        </select>
      </label>
</div>