<div class="list-container">
    <div class="list-header">
        <h2 *ngIf="!isEditing">{{list.title}}</h2>
        <div *ngIf="isEditing">
            <input class="input-field" [(ngModel)]="editedTitle" />
            <div class="button-container">
                <button  (click)="saveList(list.id)">Save</button>
                <button (click)="isEditing = false">Cancel</button>
            </div>
        </div>
        <div class="dropdown">
        <img src="assets/images/MoreVert.png" class="moreVertIcon">
        <div class="dropdown-content" >
            <button (click)="editList(list)"><img src="assets/images/Edit.png" class="editIcon">Edit</button>        
            <button (click)="deleteList(list.id)" ><img src="assets/images/Delete.png" class="deleteIcon">Delete</button>
        </div>
    </div>
    </div>
    
    <app-add-card></app-add-card>

    <div *ngFor="let card of list.cards" > 
        <app-card [card]="card"></app-card>
    </div> 
</div>
