.listAdd-header{
    border-top: 1px solid dimgray;;
    border-bottom: 1px solid dimgray;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    color: black;
}
.listAdd-container{
    width: 340px;
    float: left;
    margin: 5px;
}
.addIcon{
    width: 25px;
}

.modal-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    padding: 10px 55px;
    margin-right: 10px;
}

.button-container button:last-child {
    margin-right: 0;
}

.button-container button:first-child {
    background-color: darkgray; 
    color: white;
}

.button-container button:last-child {
    background-color: white;
    color: black;
}
